/* Global Styles */
body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 120%;
}

:root {
    --main-color: navy;
    --secondary-color: lime;
}

/* Header Styles */
.header {
    display: flex; 
    flex-direction: column;
    border: solid red 3px;
    
}

/* Top half of header */
.primary-content {
    display: flex;
    border: solid green 3px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

#title {
    font-weight: bolder;
    font-size: xx-large;
}

#search-content {
    display: flex;
    flex-wrap: nowrap;
}

#search-content input {
    font-size: 120%;
}

#search-button {
    height: 28px;
    width: 28px;
    background-image: url("../images/search.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* bottom half of header */

.city-history {
    display: flex;
    padding-left: 1em;
    border: solid orange 3px;
}

.city-history ::after {
    content: "|";
    padding: 1em;
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
}

#city-weather-container {
    border: 1px purple solid;
    padding: 1em
}

#current-weather-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1em;
}

#current-data {
    margin: 10px;
}

#current-icon {
    flex-grow: 1;
}

#forecast-container {
    display: flex;
    justify-content: space-between;
}
